body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-wrapper {
  height: auto;
  border: 1px solid rgb(211, 207, 207);
}

.submit-btn {
  background-color: grey;
  margin-top: 4px;
  padding: 4px 14px;
  margin: 0 auto;
  display: block;
}

.file-input {
  height: 100px;
}
